$mainFont:         'Poppins', sans-serif;

$textMain:         #303030;
$textLight:        #666666;
$textDark:         #000000;
$textInverted:     #ffffff;

$accentColor1:     #1bf1ad;
$accentColor2:     #e98457;

$stripesColor:     #efefef;
$crossesColor:     #e0e0e0;

$figuresColor1:    #eaeaea;
$figuresColor2:    #e98457;
