@import "vars";
@import "libs";
@import "fonts";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: $mainFont;
  font-size: 16px;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
abbr {
  text-transform: uppercase;
}
.container-outer {
  max-width: 1960px;
  padding-left: 20px;
  padding-right: 20px;
  &--main {
    background: linear-gradient(to right, white calc(100% - 1px), $stripesColor 1px);
    background-size: calc(100% / 6) 1px;
    z-index: -50;
  }
}
.container-inner {
  width: 61%;
  margin: 0 auto;
}
.logo {
  font-style: 1.125rem;
  font-weight: 600;
}
.caps {
  display: inline-block;
  text-transform: capitalize;
}
.section-header {
  color: $textMain;
  font-size: 1.125rem;
  letter-spacing: 0.225em;
  text-transform: uppercase;
}
.section-slogan {
  color: $textDark;
  font-size: 5.375rem;
  text-transform: uppercase;
  &__sentence {
    font-weight: 700;
    line-height: 90px;
    &--accented {
      color: $accentColor2;
    }
  }
  /*&__sentence:not(:last-child) {
    margin-bottom: -7px;
  }*/
}

/*--===HEADER===--*/
.header {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5)), url(../img/header-bg.png) 50% 50% no-repeat;
  background-size: cover;
  &-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  &-logo {
    flex-shrink: 1;
    &__link {
    }
    &__image {
    }
    &__title {
    }
  }
  &-title {
    flex-grow: 1;
  }
}

.c {
  flex-shrink: 1;
}
.b {
  flex-grow: 1;
}

/*--===/HEADER===--*/
/*--===MAIN===--*/
/*--=Creatives=--*/
.creatives {
  text-align: center;
  padding-top: 113px;
  &-header {
    margin-bottom: 48px;
  }
  &-text {
    color: $textLight;
    font-size: 1.75em;
    font-weight: 300;
    line-height: 1.57em;
    &::first-letter {
      text-transform: capitalize;
    }
  }
}
/*--=Creatives=--*/
/*--=Ideology=--*/
.ideology {
  display: flex;
  &-aside {
    flex-basis: 42%;
    background: url(../img/ideology-bg.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    position: relative;
    &:before {
      content: "";
      background: $accentColor1;
      display: block;
      position: absolute;
      opacity: 0.5;
      top: 119px;
      right: 142px;
      bottom: 123px;
      left: 0;
    }
    &__text {
      font-size: 3.2rem;
      margin-top: 560px;
      padding-right: 34px;
      padding-bottom: 25px;
      width: 50%;
    }
    &__sentence {
      font-weight: 500;
    }
  }
  &-main {
    flex-basis: 58%;
    margin-left: 13px;
    background: url(../img/circle-white.svg) top 94px left 31% no-repeat,
      url(../img/slash.svg) top 29px left 31% no-repeat, url(../img/circle-accented.svg) top 171px left 69% no-repeat,
      url(../img/cross-accented.svg) bottom 77px left 27% no-repeat;
    &__header {
      margin-top: 247px;
      margin-bottom: 40px;
    }
    &__slogan {
      position: relative;
      z-index: 50;
      &:before {
        content: "";
        display: block;
        background: linear-gradient(to right, transparent 49%, $crossesColor, transparent 51%),
          linear-gradient(to top, transparent 49%, $crossesColor, transparent 51%);
        background-size: calc(100% / 30) 1px, 1px calc(100% / 12);
        position: absolute;
        width: 75%;
        height: 294px;
        top: 145px;
        right: 74px;
        bottom: 163px;
        left: 46px;
        z-index: -20;
      }
      &:after {
        content: "";
        display: block;
        background: linear-gradient(to right, $mainBg 30%, transparent 30%, transparent 70%, $mainBg 70%),
          linear-gradient(to top, $mainBg 30%, transparent 30%, transparent 70%, $mainBg 70%);
        background-size: calc(100% / 30) 1px, 1px calc(100% / 12);
        position: absolute;
        width: 75%;
        height: 294px;
        top: 145px;
        right: 74px;
        bottom: 163px;
        left: 46px;
        z-index: -10;
      }
    }
  }
}
/*--=Ideology=--*/
/*--=Team=--*/
.team {
  padding-top: 186px;
  background: url(../img/triangle-filled.svg) right 23% top 208px no-repeat,
    url(../img/circle-accented.svg) left 11% top 278px no-repeat, url(../img/slash.svg) left 298px bottom 28px no-repeat;
  &-header {
    padding-left: calc(16% - 3px);
    margin-bottom: 19px;
  }
  &-slogan {
    margin-bottom: 71px;
    padding-left: calc(16% - 3px);
  }
  &-gallery {
    display: flex;
    justify-content: space-between;
    width: 68%;
    margin-left: auto;
    margin-right: auto;
  }
  &-card {
    flex-basis: 30%;
    display: flex;
    padding: 24px 41px 28px;
    transition: all 0.2s ease-in;
    &--active,
    &:hover {
      color: $textInverted;
      background: $accentColor1;
    }
    &:hover > .team-card__text-box p,
    .team-card__text-box ul li a {
      color: $textInverted;
    }
    &__picture-box {
      margin-right: 20px;
    }
    &__text-box {
      padding-top: 10px;
    }
    &__name {
      font-size: 1.25rem;
      margin-bottom: 15px;
      text-transform: uppercase;
    }
    &__title {
      color: $textLight;
      margin-bottom: 23px;
      text-transform: capitalize;
      transition: all 0.2s ease-in;
      &--active {
        color: $textInverted;
      }
    }
    &__socials {
      display: flex;
      &-item:not(:last-child) {
        margin-right: 24px;
      }
      &-link {
        color: $textDark;
        font-size: 0.75rem;
        transition: all 0.2s ease-in;
        &--active {
          color: $textInverted;
        }
        &:hover {
          color: $accentColor2;
        }
      }
    }
  }
}
/*--=Team=--*/
/*--=Works=--*/
.works {
  padding-top: 241px;
  text-align: center;
  &-header {
    margin-bottom: 31px;
  }
  &-slogan {
    margin-bottom: 105px;
  }
  
  &-slider {
    position: relative;
    &__slide {
      display: flex;
      justify-content: flex-end;
    }
    &__image-box {
      position: relative;
    }
  }
  &__img {
    display: block;
    padding-left: 44px;
    z-index: 10;
  }
  &__image-description {
    position: absolute;
    bottom: 0;
    left: 44px;
  }
}

/*--=Works=--*/
/*--===/MAIN===--*/
/*--===FOOTER===--*/
.footer {
}

/*--===/FOOTER===--*/
@import "media";
